
<h1>Create a Team and Heroes!</h1>
<form>
  <pre>
  Team Name: <input type="text" name="team_name">
  
  Team Motto: <input type= "text" name = "team_motto">
  
  <h1>Hero 1</h1>
  </pre>
  
  
  
</form>